@import "tailwindcss";
@import "tailwindcss/utilities";
body{
    background-color: rgb(241,245,241);
}
@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}

.ai-skeleton {
  background: linear-gradient(
    90deg,
    #f1f5f9 25%,
    #e2e8f0 50%,
    #f1f5f9 75%
  );

  background-size: 1000px 100%;
  animation: shimmer 2s infinite linear;
}